.footer {
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.text {
  margin: 0;
  font-size: 1rem;
}

.socialLinks {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  color: #1db954;
  transform: scale(1.1);
}
